
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using YilmazCoder.UI.Models
@model TestVM

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

<form asp-action="Kaydet" asp-controller="test" id="formtest">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" placeholder="Id" />
    <span asp-validation-for="Id"></span>
    <br />
    <input asp-for="Ad" placeholder="ad" />
    <span asp-validation-for="Ad"></span>
    <br />
    <input asp-for="Soyad" placeholder="soyad" />
    <br />
    <button id="btnKaydet" type="submit">Kaydet</button>
</form>

<script>
    $(function () {
        $('#btnKaydet').click(function () {
            if ($("#formtest").valid()) {
                
            }
            else {
                return false;
            }
        });

        $("#formtest").on("submit", function (event) {
            console.log(event)
            event.preventDefault();
            var viewModelobject = {};
            viewModelobject.Id = 0;
            viewModelobject.Ad = 'hamit';
            viewModelobject.Soyad = 'yilmaz';
            console.log(viewModelobject)

            $.post('test/Kaydet',
            {
                testVM: viewModelobject
            },
            function (rv) {
                if (rv) {
                    alert('Üye olundu');

                } else {
                    alert("Bu bilgiler ile daha önce üye olunmuş")
                }
            });

        });
    })

    @*SADECE FORM nesnesine bağlı model classı post
    $(function () {
        $('#btnKaydet').click(function () {
            if ($("#formtest").valid()) {
                //$('#formtest').submit();
            }
            else {
                return false;
            }
        });

        $("#formtest").on("submit", function (event) {
            console.log(event)
            event.preventDefault();
            const formData = $('#formtest').serialize();
            $.ajax({
                type: "POST",
                url: "/test/kaydet",
                data: formData,
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success: function (response) {
                    //alert("Hello")
                }
            });
        });
    })*@


</script>

