@{
    ViewData["Title"] = "Yeni Yazı Oluştur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>

<script src="https://cdn.tiny.cloud/1/11phgs80o251qv8pzel7b38mek84h0hmxbqshck6999e6z05/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>*@

<script></script>
@using CoderBlog.UI.Models.Yazi
@using CoderBlog.Entities
@model YaziVM

<div class="container-lg">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"> Yeni Yazı</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Kategori</label>
                                <select class="form-control form-control-sm" id="kategoriList">
                                    @foreach (var item in (List<Kategori>)ViewBag.KategoriList)
                                    {
                                        <option value="@item.Id">@item.Adi</option>

                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Başlık</label>
                                <input class="form-control form-control-sm" id="txtBaslik" rows="3" maxlength="60" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Yazı Kapak Resmi Seçiniz</label>
                                <a class="button actionSelect">
                                    <input type="file" id="select" value="Choose Image" accept="image/*">
                                </a>
                                <img class="my-image" id="main-cropper" src="" style="overflow-x:scroll;margin:5px" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <textarea id="txtyaziIcerik"></textarea>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-success btn-lg float-end" type="button" onclick="YaziKaydet()"><i class="fas fa-save"></i> <strong>KAYDET</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    tinymce.init({ selector: 'textarea', height: 500 });
    var kapakResimBase64 = "";

    function YaziKaydet() {
        tinymce.triggerSave();
        var yazi = {
            yaziBaslik: $('#txtBaslik').val(),
            yaziIcerik: $('#txtyaziIcerik').val(),
            kategoriId: $('#kategoriList').val(),
            resimBase64: "",
            resimSecimi: false
        }

        if (yazi.yaziBaslik == "" && yazi.yaziBaslik.length > 15) {
            alert("Yazi başlık boş ve 15 karakterden az olamaz")
            return;
        }

        if (kapakResimBase64 == "") {
            yazi['resimSecimi'] = false
            YaziPost(yazi);
        } else {
            imageCroopie.croppie('result', 'base64').then(function (imagedata) {
                yazi['resimSecimi'] = true
                yazi['resimBase64'] = imagedata
                YaziPost(yazi)
            });
        }

    }

    function YaziPost(yazi) {
        $.post("kaydet",
            { yaziJson: JSON.stringify(yazi) }
            , function (result) {
                window.location = "/";
            });
    }

    var imageCroopie = $('#main-cropper').croppie({
        viewport: { width: 750, height: 350 },
        boundary: { width: 1000, height: 500 },
        showZoomer: false,
        enableExif: true
    });

    function readFile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                kapakResimBase64 = e.target.result;
                $('#main-cropper').croppie('bind', {
                    url: e.target.result
                });
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $('.actionSelect input').on('change', function () { readFile(this); });

</script>

