<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Yılmaz Coder Blog</title>

    <link href="~/bootstrapV5/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <script src="~/bootstrapV5/bootstrap.bundle.min.js"></script>
    <script src="~/jquery/jquery-3.6.0.min.js"></script>

</head>
<body>
    <header>

        <nav class="navbar navbar-expand-md navbar-dark bg-danger">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Yılmaz Coder Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/kategori/liste"><i class="fas fa-layer-group"></i> Kategori</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-file-signature"></i> Yazı
                            </a>
                            <ul class="dropdown-menu border-danger" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/yazi/yeni"><i class="fas fa-plus"></i> Yeni</a></li>
                                <li><a class="dropdown-item" href="/yazi/yazilarim"><i class="fas fa-stream"></i>Yazılarım</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-thumbtack"></i>Taslak</a></li>
                            </ul>
                        </li>
                    </ul>
                    @*<ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Yazi,Kullanıcı vs. Ara"  >
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Ara</button>
                                </div>
                            </li>
                        </ul>*@


                    <form>
                        @{
                            if (User.HasClaim(x => x.Type == System.Security.Claims.ClaimTypes.Name))
                            {

                                var kullanici = User.FindFirst(System.Security.Claims.ClaimTypes.Name).Value;
                                if (!string.IsNullOrEmpty(kullanici))
                                {
                                    <div class="dropdown">
                                        <button class="btn btn-outline-light dropdown-toggle" type="button" id="ddkullanici" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-user-lock"></i> @kullanici
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="ddkullanici">
                                            <li><a class="dropdown-item" href="/kullanici/profil">Profil</a></li>
                                            <li><a class="dropdown-item" href="#">Ayarlar</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="/auth/logout">Çıkış</a></li>
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <button class="btn btn-outline-light me-2" onclick="Giris()" type="button"><i class="fas fa-user-lock"></i> Giriş</button>

                                }
                            }
                            else
                            {
                                <button class="btn btn-outline-light me-2" onclick="GirisLyt()" type="button"><i class="fas fa-user-lock"></i> Giriş</button>
                            }
                        }


                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div style="padding-top:10px;padding-bottom:10px">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Yilmaz Coder Blog 
        </div>
    </footer>


</body>
</html>
<script>
    function GirisLyt() {
        window.location = '/auth/login';
    }
</script>